{% assign without-image = nil %}
<!-- begin article -->
<div class="article">
  <div class="container">

    <div class="article__wrapper">

        {% if include.content.image %}
          <a href="{{include.content.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}/images/{{include.content.image}})">
          </a>
        {% else %}
          {% assign without-image = 'article-without-image' %}
        {% endif %}

        <div class="article__content {{ without-image }}">
          <div class="article-tags">
          {% if include.content.tags.size >= 1 %}
            <div class="article-tags__box">
              {% for tag in include.content.tags %}
                <a href="{{ site.baseurl }}/tag/{{ tag }}" class="article__tag">{{ tag }}</a>
              {% endfor %}
            </div>
          {% else %}
          {% endif %}
          </div>
      
          <h2 class="article__title">
            <a href="{{ include.content.url | prepend: site.baseurl }}">{{include.content.title}}</a>
          </h2>
      
          <p class="article__excerpt">{% if include.content.description %}{{ include.content.description }}{% else %}{{ include.content.content | strip_html | truncate: 185 }}{% endif %}</p>
          
          <div class="article__footer">
            <div class="article__meta">
              <span class="article__date"><time datetime="{{ include.content.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ include.content.date | date: date_format }}</time></span>
            </div>

            <a href="{{include.content.url | prepend: site.baseurl}}" class="read-more">Keep Reading <i class="ion ion-ios-arrow-forward"></i></a>
          </div>

        </div>

      </div>
      
  </div>
</div>
<!-- end article -->