.archive-tags {
    display: flex;
    margin-bottom: 20px;
}

.archive-tag {
    color: $brand-color;
    font-weight: 600;
    margin-right: 10px;
    transition-duration: 0ms;
    letter-spacing: 0.5px;
}

.archive-tag:hover {
    font-weight: 900;
}

.archive-year {
    margin-bottom: 20px;
    a, a:link, a:visited, a:active {
        color: #393e46;
    }
}
